{% extends 'index_base.html' %}
{% load staticfiles %}
{% block custom_css %}

{% endblock custom_css %}
{% block content %}
    <!--crumbs start-->
    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="index.html">首页</a>></li>
                <li>公开课</li>
            </ul>
        </div>
    </section>
    <section>
        <div class="wp">
            <div class="list" style="margin-top:0;">
                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li  class="{% if sort == "" %}active{% endif %}"><a href="?">最新 </a></li>
                            <li  class="{% if sort == "hot" %}active{% endif %}"><a href="?sort=hot">最热门</a></li>
                            <li  class="{% if sort == "join" %}active{% endif %}"><a href="?sort=join">参与人数</a></li>
                        </ul>
                    </div>
                    <div id="inWindow">
                        <div class="tab_cont " id="content">
                            <div class="group_list">
                                {% for course in courses %}
                                <div class="box">
                                   <a href="{% url 'course:course_detail' course.id %}">
                                        <img width="280" height="350" class="scrollLoading" src="{{ course.image }}"/>
                                    </a>
                                    <div class="des">
                                        <a href="{% url 'course:course_detail' course.id %}">
                                            <h2>{{ course.name }}</h2>
                                        </a>
                                        <span class="fl">时长：<i class="key">{{ course.learn_time }}</i></span>
                                        <span class="fr">学习人数：{{ course.students }}&nbsp;&nbsp;</span>
                                    </div>
                                    <div class="bottom">
                                        <a href="{% url 'course:course_detail' course.id %}"><span class="fl">来自{{ course.course_org }}</span></a>
                                    <span class="star fr  notlogin
                                        " data-favid="15">
                                        {{ course.fav_nums }}
                                    </span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right layout">
                    <div class="head">热门课程推荐</div>
                    <div class="group_recommend">
                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="/static/media/courses/2016/11/540e57300001d6d906000338-240-135_n0L8vbw.jpg"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> django与vuejs实战项目2</h2></a>
                                <span class="fl">难度：<i class="key">高级</i></span>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="/static/media/courses/2016/12/python面向对象.jpg"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> python面向对象</h2></a>
                                <span class="fl">难度：<i class="key">中级</i></span>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="/static/media/courses/2016/12/python文件处理.jpg"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2> python文件处理</h2></a>
                                <span class="fl">难度：<i class="key">中级</i></span>
                            </dd>
                        </dl>


                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
{% block custom_js %}
    <script src="/static/js/selectUi.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/deco-common.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/plugins/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/plugins/layer/layer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/plugins/queryCity/js/public.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/unslider.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/plugins/jquery.scrollLoading.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/deco-common.js" type="text/javascript" charset="utf-8"></script>

    <script>
        $(function () {
            $('#jsStayBtn').on('click', function () {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "/org/add_ask/",
                    data: $('#jsStayForm').serialize(),
                    async: true,
                    success: function (data) {
                        if (data.status == 'success') {
                            $('#jsStayForm')[0].reset();
                            alert("提交成功")
                        } else if (data.status == 'fail') {
                            $('#jsCompanyTips').html(data.msg)
                        }
                    },
                });
            });
        })

    </script>
{% endblock custom_js %}
